.coinCard {
  position: relative;
  border-radius: 10px;
  // border-right: 10px solid #0007AB;
  // border-bottom: 5px solid #0007AB;
  overflow: hidden;
  background: linear-gradient(180deg, #5b33fc 0%, #3717b5 100%);
  filter: drop-shadow(5px 2px 0px #0007ab);
  transform: skewX(-5deg);
  &:hover {
    filter: drop-shadow(5px 5px 0px rgb(185, 100, 255))
      drop-shadow(5px 5px 0px rgb(103, 74, 255))
      drop-shadow(5px 5px 0px rgb(12, 204, 238));
    scale: 1.05;
  }
  &::before {
    content: '';
    position: absolute;
    height: 200%;
    width: 0.6em;
    background-color: aliceblue;
    opacity: 0.3;
    animation: glider 5s infinite linear;
    animation-delay: 0.05s;
  }
  &::after {
    content: '';
    position: absolute;
    height: 200%;
    width: 0.4em;
    background-color: aliceblue;
    opacity: 0.2;
    animation: glider 5s infinite linear;
  }
}
@keyframes glider {
  0% {
    transform: rotate(45deg) translate(-140px, -140px);
  }

  100% {
    transform: rotate(45deg) translate(220px, -40px);
  }
}

// ::after{
//     content: '';
//     position: absolute;
//     background-color: #0007AB;
//     top: 0px;
//     left: 0;
//     width: 105%;
//     height: 105%;
//     border-radius: 15px;
//     border-right: 10px solid #0007AB;
//     border-bottom: 5px solid #0007AB;
//     z-index: -1;
// }
